---
layout: default
name: Andrew Torgesen
title: Andrew Torgesen
description: Personal Page
subtitle: Portfolio Website
portrait: /images/Headshot.png
featured_image: /favicon.png
---

WHY AM I SEEING THIS

<section class="intro">
    <div class="wrap" id="intro">
        <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
                        <tr>
                            <td width="62%" valign="middle">
                                <div class="name-position">
                                    <h2>
                                        {{ post.name }}
                                    </h2>
                                    <br>
                                </div>
                                <div class="image-cropper top-portrait">
                                    <img src="{{ post.portrait }}" width="100%">
                                </div>
                                <div class="side-intro">
                                    <p>
                                        <!-- {{ page.content }} -->
                                    </p>
                                </div>
                            </td>
                            <td width="38%" class="side-portrait">
                                <div class="image-cropper">
                                    <img src="{{ post.portrait }}" width="100%">
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

    {% if paginator.previous_page %}
    <div class="pagination__prev">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="button button--large"><i
                class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
    </div>
    {% endif %}
    {% if paginator.next_page %}
    <div class="pagination__next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="button button--large"><span>Older
                Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
    {% endif %}

</section>

{% endif %}