---
layout: default
title: "Software Tools"
description: "Having some fun with small software projects."
permalink: '/softwaretools/index.html'
---

Hmmm.

{% for item in site.softwaretools %}

<p>{{ item.title }}</p>

{% endfor %}

<!-- <ul>
	{% for item in site.autonomy limit:33 %}
	{% if item.url contains 'EstimationAndSysID' and item.url != '/autonomy/' and item.url != '/autonomy/EstimationAndSysID/' %}
	<li><a href="{{ item.url }}">{{ item.title }}</a></li>
	{% endif %}
	{% endfor %}
</ul> -->
